form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  background: #323338;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 0px;

  animation: show 0.4s ease 1 forwards;
}
@keyframes show {
  0% {
    scale: 105%;
    opacity: 0;
    transform: translateY(-100px);
  }
  70% {
    opacity: 1;
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0); 
  }
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.tab2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 80px;
}

.tab > h1 {
  color: white;
  font-size: 24px;
  font-weight: 600;
  line-height: 0.5;
}

.subt {
  color: #b7bac0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 20px;
}

label {
  width: 416px;
  font-weight: 700;
  font-size: 12px;
  color: #b7bac0;
  margin-bottom: 8px;
}

label > span {
  margin-left: 4px;
  font-size: 10px;
  color: red;
}

.gap {
  padding: 10px 0;
}

.element {
  width: 416px;
}

.label {
  width: 416px;
  color: rgb(148, 155, 164);
  font-size: 14px;
  margin-top: 8px;
}

.loading {
  width: 176px;
  height: 176px;
  background-image: url('https://media.tenor.com/29PZlp22MHEAAAAi/discordloading.gif');
  background-position: center center;
  background-size: cover;
}

.tab2 > h2 {
  color: white;
  font-size: 24px;
  font-weight: 600;
  line-height: 0.8;
}

.info {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: rgb(181, 186, 193);
  width: 210px;
}